/Coffee Machine/task/build/classes/java/main/machine/Action.class
/Coffee Machine/task/build/reports/tests/test/css/base-style.css
/Problems/Book/out/production/classes/Book.class
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/5.3.1/javaCompile/classAnalysis.bin
/Coffee Machine/task/build/classes/java/main/machine/Coffee.class
/Coffee Machine/task/build/classes/java/main/machine/CoffeeMachine$1.class
/Coffee Machine/task/build/classes/java/main/machine/CoffeeMachine.class
/Coffee Machine/task/out/production/classes/machine/CoffeeMachine.class
/Coffee Machine/task/build/classes/java/test/CoffeeMachineTest.class
/Coffee Machine/task/build/reports/tests/test/classes/CoffeeMachineTest.html
/Coffee Machine/task/test/CoffeeMachineTest.java
/course-info.yaml
/course-remote-info.yaml
/Coffee Machine/task/build/reports/tests/test/packages/default-package.html
/Problems/Robot control/out/production/classes/Direction$1.class
/Problems/Robot control/out/production/classes/Direction.class
/.gradle/5.3.1/executionHistory/executionHistory.bin
/.gradle/6.1/executionHistory/executionHistory.bin
/.gradle/5.3.1/executionHistory/executionHistory.lock
/.gradle/6.1/executionHistory/executionHistory.lock
/.gradle/5.3.1/fileContent/fileContent.lock
/.gradle/5.3.1/fileHashes/fileHashes.bin
/.gradle/6.1/fileHashes/fileHashes.bin
/.gradle/5.3.1/fileHashes/fileHashes.lock
/.gradle/6.1/fileHashes/fileHashes.lock
/.gradle/5.3.1/gc.properties
/.gradle/6.1/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/Coffee Machine/task/build/reports/tests/test/index.html
/Coffee Machine/task/build/tmp/test/jar_extract_181364225114519832_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_625807378191035440_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_2837603981770405830_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_5571640299428859130_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_7397793003353654293_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_9840298928520848228_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_11108701879802311697_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_11783582908907942470_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_13513185145405983748_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_14235112973834303214_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_16140470375603218410_tmp
/Coffee Machine/task/build/tmp/test/jar_extract_17416467823897048916_tmp
/.gradle/5.3.1/javaCompile/jarAnalysis.bin
/.gradle/5.3.1/javaCompile/javaCompile.lock
/.gradle/5.3.1/fileChanges/last-build.bin
/.gradle/6.1/fileChanges/last-build.bin
/Coffee Machine/lesson-info.yaml
/Problems/lesson-info.yaml
/Problems/Account and its owner/out/production/classes/Main$Account.class
/Problems/Account and its owner/out/production/classes/Main$User.class
/Problems/Account and its owner/out/production/classes/Main.class
/Problems/Alphabetical order/out/production/classes/Main.class
/Problems/Book/out/production/classes/Main.class
/Problems/Check if an array contains two numbers/out/production/classes/Main.class
/Problems/Cyclically shifting elements/out/production/classes/Main.class
/Problems/Robot control/out/production/classes/Main.class
/Problems/The sum of digits/out/production/classes/Main.class
/Problems/Account and its owner/src/Main.java
/Problems/Alphabetical order/src/Main.java
/Problems/Book/src/Main.java
/Problems/Books/src/Main.java
/Problems/Check if an array contains two numbers/src/Main.java
/Problems/Circle/src/Main.java
/Problems/Complex numbers/src/Main.java
/Problems/Complex numbers (1)/src/Main.java
/Problems/Count how many times a number occurs/src/Main.java
/Problems/Cyclically shifting elements/src/Main.java
/Problems/Danger levels/src/Main.java
/Problems/Days of week/src/Main.java
/Problems/Find the max of three numbers/src/Main.java
/Problems/Points on the 2D plane/src/Main.java
/Problems/Robot control/src/Main.java
/Problems/Simulating a clock/src/Main.java
/Problems/The secret enumeration/src/Main.java
/Problems/The sum of digits/src/Main.java
/Problems/Too many cats/src/Main.java
/Problems/User/src/Main.java
/Problems/Robot control/out/production/classes/Move$1.class
/Problems/Robot control/out/production/classes/Move.class
/Coffee Machine/task/build/test-results/test/binary/output.bin
/Coffee Machine/task/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/Problems/The sum of digits/out/production/classes/Person.class
/Coffee Machine/task/build/reports/tests/test/js/report.js
/.gradle/5.3.1/fileHashes/resourceHashesCache.bin
/Coffee Machine/task/build/test-results/test/binary/results.bin
/Problems/Robot control/out/production/classes/Robot.class
/settings.gradle
/Coffee Machine/task/build/reports/tests/test/css/style.css
/Coffee Machine/Action!/task.html
/Coffee Machine/Brush up your code/task.html
/Coffee Machine/Enough coffee for everyone/task.html
/Coffee Machine/Hello, coffee!/task.html
/Coffee Machine/Machines have needs/task.html
/Coffee Machine/On a coffee loop/task.html
/Problems/Account and its owner/task.html
/Problems/Alphabetical order/task.html
/Problems/Book/task.html
/Problems/Books/task.html
/Problems/Check if an array contains two numbers/task.html
/Problems/Circle/task.html
/Problems/Complex numbers/task.html
/Problems/Complex numbers (1)/task.html
/Problems/Count how many times a number occurs/task.html
/Problems/Cyclically shifting elements/task.html
/Problems/Danger levels/task.html
/Problems/Days of week/task.html
/Problems/Find the max of three numbers/task.html
/Problems/Points on the 2D plane/task.html
/Problems/Project constants and methods/task.html
/Problems/Robot control/task.html
/Problems/Simulating a clock/task.html
/Problems/The secret enumeration/task.html
/Problems/The sum of digits/task.html
/Problems/Too many cats/task.html
/Problems/User/task.html
/Coffee Machine/Action!/task-info.yaml
/Coffee Machine/Brush up your code/task-info.yaml
/Coffee Machine/Enough coffee for everyone/task-info.yaml
/Coffee Machine/Hello, coffee!/task-info.yaml
/Coffee Machine/Machines have needs/task-info.yaml
/Coffee Machine/On a coffee loop/task-info.yaml
/Problems/Account and its owner/task-info.yaml
/Problems/Alphabetical order/task-info.yaml
/Problems/Book/task-info.yaml
/Problems/Books/task-info.yaml
/Problems/Check if an array contains two numbers/task-info.yaml
/Problems/Circle/task-info.yaml
/Problems/Complex numbers/task-info.yaml
/Problems/Complex numbers (1)/task-info.yaml
/Problems/Count how many times a number occurs/task-info.yaml
/Problems/Cyclically shifting elements/task-info.yaml
/Problems/Danger levels/task-info.yaml
/Problems/Days of week/task-info.yaml
/Problems/Find the max of three numbers/task-info.yaml
/Problems/Points on the 2D plane/task-info.yaml
/Problems/Project constants and methods/task-info.yaml
/Problems/Robot control/task-info.yaml
/Problems/Simulating a clock/task-info.yaml
/Problems/The secret enumeration/task-info.yaml
/Problems/The sum of digits/task-info.yaml
/Problems/Too many cats/task-info.yaml
/Problems/User/task-info.yaml
/Coffee Machine/Action!/task-remote-info.yaml
/Coffee Machine/Brush up your code/task-remote-info.yaml
/Coffee Machine/Enough coffee for everyone/task-remote-info.yaml
/Coffee Machine/Hello, coffee!/task-remote-info.yaml
/Coffee Machine/Machines have needs/task-remote-info.yaml
/Coffee Machine/On a coffee loop/task-remote-info.yaml
/Problems/Account and its owner/task-remote-info.yaml
/Problems/Alphabetical order/task-remote-info.yaml
/Problems/Book/task-remote-info.yaml
/Problems/Books/task-remote-info.yaml
/Problems/Check if an array contains two numbers/task-remote-info.yaml
/Problems/Circle/task-remote-info.yaml
/Problems/Complex numbers/task-remote-info.yaml
/Problems/Complex numbers (1)/task-remote-info.yaml
/Problems/Count how many times a number occurs/task-remote-info.yaml
/Problems/Cyclically shifting elements/task-remote-info.yaml
/Problems/Danger levels/task-remote-info.yaml
/Problems/Days of week/task-remote-info.yaml
/Problems/Find the max of three numbers/task-remote-info.yaml
/Problems/Points on the 2D plane/task-remote-info.yaml
/Problems/Project constants and methods/task-remote-info.yaml
/Problems/Robot control/task-remote-info.yaml
/Problems/Simulating a clock/task-remote-info.yaml
/Problems/The secret enumeration/task-remote-info.yaml
/Problems/The sum of digits/task-remote-info.yaml
/Problems/Too many cats/task-remote-info.yaml
/Problems/User/task-remote-info.yaml
/.gradle/5.3.1/javaCompile/taskHistory.bin
/Coffee Machine/task/build/test-results/test/TEST-CoffeeMachineTest.xml
/Coffee Machine/task/build/classes/java/test/TestClue.class
